<a href="https://colab.research.google.com/github/AhmetA75/Task_9-A-B-C-D-E-F-/blob/main/Week_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


TASK-9A: Please apply the following feature engineering steps on the numeric features of the AD dataset.

-	Divide by NACCBRNV (MRI)
-	Multiply by NACCAGEB

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.naive_bayes import GaussianNB                            
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from time import time
from sklearn.preprocessing import Normalizer

In [5]:
from sklearn.linear_model import RidgeClassifier
from sklearn.datasets import load_iris
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [6]:
import warnings as warn
warn.filterwarnings("ignore")

In [7]:
data = pd.read_excel('Temporary_data3_Left_Right_Copy.xlsx')

In [8]:
data = data.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)

In [9]:
y = pd.DataFrame(data['CDRGLOB'])

In [10]:
X = pd.DataFrame(data['NACCAGEB'] / data["NACCBRNV"] *  (data['NACCICV'] + data['NACCWMVL'] + data['CSFVOL'] + data['GRAYVOL'] + data['WHITEVOL'] + data['WMHVOL'] ))

TASK-9B: Please apply Gaussian Naive Bayes algorithm on the numeric values (after the transformation) to predict the CDRGLOB values (class-based). Train-test split, train by grid search (k=5) and optimize for the parameter values

In [11]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y)

In [12]:
gauss = GaussianNB()

In [13]:
gauss.fit(X=x_train, y=y_train)

GaussianNB()

In [14]:
print(f'TEST ACC DT ==> {gauss.score(x_test, y_test)}') #Algorithm fitted

TEST ACC DT ==> 0.5166051660516605

In [15]:
gauss_param = {'var_smoothing': [0.0000001] }

In [16]:
grid_gauss_5 = GridSearchCV(GaussianNB(), gauss_param, cv=5) # best algoihm fitted grid
start = time() # For working time and tested by cv=5
grid_gauss_5.fit(x_train, y_train)
print(f'TIME FOR CV=5 ==> {time() - start}')
print(f'BEST PARAMS FOR GRID Gauss CV = 5 ==> {grid_gauss_5.best_params_}')
print(f'TEST ACC GRID Gauss CV = 5 ==> {grid_gauss_5.score(x_test, y_test)}')

TIME FOR CV=5 ==> 0.036725521087646484
BEST PARAMS FOR GRID Gauss CV = 5 ==> {'var_smoothing': 1e-07}
TEST ACC GRID Gauss CV = 5 ==> 0.5166051660516605

TASK-9C: Please apply a one-hot encoding method on the categorical data of the AD dataset.

In [17]:
encoder = OneHotEncoder(handle_unknown='ignore')

In [18]:
encoded_data = pd.DataFrame(encoder.fit_transform(data).toarray())
encoded_data.head()

,0,1,2,3,4,5,6,7,8,9,...,182112,182113,182114,182115,182116,182117,182118,182119,182120,182121
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

TASK–9D: Please apply Multinomial Naive Bayes algorithms on the one-hot encoded categorical data of the AD dataset and predict the labels (CDRGLOB).

In [19]:
from sklearn.naive_bayes import MultinomialNB
y_1=y
X_1 = encoded_data

In [20]:
model = MultinomialNB(alpha=0.01)
model.fit(X_1, y_1)
model.score(X_1, y_1)

1.0

In [21]:
data_copy = data.copy(deep=True)

In [22]:
numeric_column_names = data.loc[:, data.dtypes == float].columns

In [23]:
for column in numeric_column_names:
    x = data[column].to_numpy()
    normalizer = Normalizer().fit([x])
    transformed_arr = normalizer.transform([x])
    data_copy[column] = pd.Series(transformed_arr.ravel())

In [24]:
data_copy

,SEX,EDUC,MARISTAT,INDEPEND,RESIDENC,NACCFAM,ANYMEDS,SMOKYRS,NACCTBI,DIABETES,...,RSUPFR,RSUPFRM,RSUPPAR,RSUPPARM,RSUPTEM,RSUPTEMM,RSUPMAR,RSUPMARM,RTRTEM,RTRTEMM
0,2,18,1,1,1,1,1,0,0,0,...,0.031383,0.027190,0.027330,0.031626,0.027310,0.022014,0.031257,0.025651,0.028320,0.022901
1,1,11,1,1,1,1,1,0,0,0,...,0.032683,0.033011,0.024430,0.030299,0.030270,0.029067,0.023023,0.028871,0.043883,0.038913
2,2,16,1,1,1,1,1,10,0,1,...,0.037114,0.031170,0.036156,0.028998,0.033016,0.026160,0.032017,0.028107,0.032117,0.028753
3,1,14,1,1,1,0,1,0,0,1,...,0.035630,0.029575,0.025460,0.026953,0.030738,0.020726,0.032904,0.027955,0.023531,0.021086
4,1,16,1,1,2,0,1,50,0,0,...,0.031562,0.023931,0.024067,0.019382,0.027211,0.020562,0.024019,0.022295,0.021108,0.016345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,1,20,1,1,1,1,1,0,0,0,...,0.027767,0.032554,0.027852,0.040359,0.028709,0.036438,0.029507,0.036023,0.021417,0.019687
1350,1,16,1,2,1,0,1,0,0,0,...,0.027882,0.025762,0.027492,0.027613,0.021946,0.024046,0.032313,0.031291,0.023108,0.015232
1351,2,14,2,1,1,1,1,0,0,0,...,0.026824,0.026016,0.032723,0.028440,0.025754,0.025149,0.030022,0.026580,0.037523,0.030479
1352,2,20,3,1,1,1,1,25,0,0,...,0.035259,0.029820,0.028576,0.031600,0.028012,0.026539,0.035215,0.032690,0.041657,0.029137
1353,2,14,1,1,1,1,1,10,0,0,...,0.024732,0.029575,0.026120,0.032716,0.028399,0.027803,0.031542,0.028413,0.026393,0.031629


TASK-9E: Please merge the normalized numeric values and one-hot encoded categorical values and then apply the following regression methods (Linear, Ridge and Lasso) to predict the labels as numeric values. Please do not forget to optimize them and use R2 for scoring.

In [25]:
con = pd.concat([data_copy, encoded_data], axis="columns")

In [24]:
model = LinearRegression().fit(con, data)

In [25]:
r_sq = model.score(con,data)  #R2 function
print(f"coefficient of determination: {r_sq}")

coefficient of determination: 1.0

In [26]:
print(f"intercept: {model.intercept_}")

intercept: [ 1.66876702e+00  1.39689017e+00  1.23418855e+00  2.07262681e+00
  6.68018345e-01  8.00870237e-01  7.25315730e-01  8.30531046e-02
  2.44598290e-01  3.26185842e-01  5.02097343e-01 -2.87921579e-02
  5.58996112e-01  2.54888412e-02  1.68363593e-01 -3.96965115e-02
  1.26298938e+00  2.70978879e-01  1.76565892e-01  4.24530224e-01
  4.87949742e-01  3.32481869e-01  1.02270883e-01  3.60073833e-01
  3.38231939e-01  4.12437586e-01  4.04073115e-01  3.92050521e-01
  4.65413473e-01  6.87861753e-02  2.53952156e-01  1.44115513e-02
 -1.25549660e+00  1.56460721e+00  3.43783630e+01  8.59791339e-01
  5.27318564e-01  1.33256302e+03  1.17105965e+03  5.82660306e+02
  1.83119993e+02  5.69232139e+02  5.99467694e+02 -1.63294339e+01
  1.16472580e+03  1.00650223e+03  1.61007925e+02  4.69095832e+02
  5.52029366e+02  3.18289672e+00  3.41525312e+00 -2.23712670e-01
  5.70748471e-01 -3.08485540e-01  8.63711696e+01  8.62822400e+01
  2.89026186e+01  3.13767474e+01  4.47763075e+01  4.73350492e+01
  5.36957281e+01  5.43625698e+01  3.12862818e+00  2.29404454e+00
  4.20243850e+00  1.08008051e+00  4.14737148e+00  1.27600033e+00
  3.74859092e+00  2.77423307e+00  7.59516819e+00  1.59958084e+00
  1.18646077e+01  1.56766313e+00  7.84300485e+00  1.76315044e+00
  5.71540151e+00  2.50864610e+00  2.09027978e+00  1.57741392e+00
  1.08665643e+01  1.34279387e+00  8.45941204e+00  2.17267561e+00
  5.23619802e+00  1.73537436e+00  4.90318637e+00  2.05333707e+00
  1.17081474e+01  1.98696093e+00  4.21253682e+00  1.64211490e+00
  3.62119762e+00  1.40431115e+00  4.53277665e+00  1.62859004e+00
  2.43432646e+00  1.89335046e+00  3.99296470e+00  1.90544972e+00
  2.96718124e+00  1.46983945e+00  8.98642545e+00  1.03704876e+00
  3.73817191e+00  1.63846996e+00  1.25711013e+01  1.31540339e+00
  8.07926415e+00  1.36598019e+00  3.70682737e+00  2.40688064e+00
  1.00944179e+01  1.62666664e+00  2.17273858e+01  1.72648505e+00
  1.00616269e+01  1.21207493e+00  1.34745751e+01  1.80210020e+00
  1.04460549e+01  1.40897884e+00  1.06070055e+00  1.54670439e+00
  1.78147457e+00  2.13261094e+00  5.73854565e+00  1.29581700e+00
  4.19865197e+00  1.41659772e+00  3.57912110e+00  2.82073709e+00
  6.82800985e+00  1.99539178e+00  1.18057332e+01  1.72263386e+00
  9.50862086e+00  2.11737791e+00  6.09642997e+00  2.68403786e+00
  2.34452142e+00  1.60102971e+00  1.20649234e+01  1.81128899e+00
  8.06761889e+00  1.76051311e+00  5.94123931e+00  1.71104873e+00
  5.09156617e+00  2.00979003e+00  1.22167691e+01  2.03236526e+00
  3.86085643e+00  1.45088672e+00  4.01319677e+00  1.81732918e+00
  4.79680066e+00  1.61726839e+00  1.78367720e+00  1.92353600e+00
  4.56340999e+00  1.84647203e+00  3.38843541e+00  1.71795544e+00
  9.31687324e+00  1.12308538e+00  3.55627645e+00  1.66654178e+00
  1.21006515e+01  1.54216748e+00  8.33556180e+00  1.27443394e+00
  2.56282123e+00  2.26876414e+00  1.00325977e+01  1.55913927e+00
  2.46565325e+01  1.81795784e+00  1.08363899e+01  1.29983688e+00
  1.34857123e+01  1.91964765e+00  8.40082621e+00  1.57776257e+00
  9.98555558e-01  1.48844815e+00]

In [27]:
print(f"coefficients: {model.coef_}")

coefficients: [[ 1.64073025e-01 -5.16935210e-03 -5.11673583e-03 ...  4.48040862e-04
  -5.24888997e-04  2.84644573e-04]
 [-2.89639557e-01  9.79076861e-01 -3.00381699e-02 ...  4.50970674e-04
   6.05070302e-04 -4.10054349e-05]
 [-1.93731878e-01 -2.72061380e-03  8.21705170e-01 ...  1.66220602e-04
   7.12517428e-04  4.31471903e-04]
 ...
 [ 7.25787758e-04  6.60872999e-03  2.37602022e-03 ... -9.78339920e-04
   2.54740655e-03  5.18327451e-04]
 [-1.07179778e-02  7.43492680e-03  9.84782549e-04 ...  2.07089602e-03
   6.06685579e-04  3.06792567e-03]
 [-1.83894158e-02  1.02326624e-02 -3.39124367e-03 ...  6.22565408e-03
   6.16820280e-03  6.15567269e-03]]

TASK-9F: Please find and apply the classification versions of the following algorithms (Linear, Ridge and Lasso) with the hyperparameter optimization.

In [27]:
xtrain, xtest, ytrain, ytest = train_test_split(con, data, test_size=0.1)

In [28]:
lr_params = {"fit_intercept": [False, False],
             "normalize": [False, False],
             "n_jobs": np.arange(0,2)}
grid_lr = GridSearchCV(LinearRegression(), lr_params, cv=2)
grid_lr.fit(xtrain, ytrain)
print("LR Best Score",grid_lr.best_score_)

LR Best Score 0.2591316552900662